Repository hyperspy/hyperspy, pull requests merged in 2021-12, with the labels that each got.

#2568 Improve plotting of lazy signals, by keeping current chunk
  hyperspy/_signals/lazy.py
  hyperspy/_signals/signal2d.py
  hyperspy/signal.py
  hyperspy/tests/signals/test_assign_subclass.py
  hyperspy/tests/signals/test_lazy.py
  hyperspy/tests/signals/test_tools.py
  upcoming_changes/2568.enhancements.rst
Labels: type: enhancement, status: needs review, release: next minor

#2846 jeol.py: Add lazy loading for spectrum image, and add loader for SEM/STEM image in pts file
  doc/user_guide/io.rst
  hyperspy/io_plugins/jeol.py
  hyperspy/tests/io/JEOL_files/InvalidFrame/Sample/00_Dummy-Data/Dummy-Data_0000000.img
  hyperspy/tests/io/JEOL_files/InvalidFrame/Sample/00_Dummy-Data/Dummy-Data_0000001.map
  hyperspy/tests/io/JEOL_files/InvalidFrame/Sample/00_Dummy-Data/Dummy-Data_0000002.map
  hyperspy/tests/io/JEOL_files/InvalidFrame/Sample/00_Dummy-Data/Dummy-Data_0000003.map
  hyperspy/tests/io/JEOL_files/InvalidFrame/Sample/00_Dummy-Data/Dummy-Data_0000004.map
  hyperspy/tests/io/JEOL_files/InvalidFrame/Sample/00_Dummy-Data/Dummy-Data_0000005.map
  hyperspy/tests/io/JEOL_files/InvalidFrame/Sample/00_Dummy-Data/Dummy-Data_0000006.map
  hyperspy/tests/io/JEOL_files/InvalidFrame/Sample/00_Dummy-Data/Dummy-Data_0000007.pts
  hyperspy/tests/io/JEOL_files/InvalidFrame/Sample/00_Dummy-Data/Dummy-Data_0000008.apb
  hyperspy/tests/io/JEOL_files/InvalidFrame/Sample/00_Dummy-Data/Dummy-Data_0000009.map
  hyperspy/tests/io/JEOL_files/InvalidFrame/Sample/00_Dummy-Data/Dummy-Data_0000010.map
  hyperspy/tests/io/JEOL_files/InvalidFrame/Sample/00_Dummy-Data/Dummy-Data_0000011.map
  hyperspy/tests/io/JEOL_files/InvalidFrame/Sample/00_Dummy-Data/Dummy-Data_0000012.map
  hyperspy/tests/io/JEOL_files/InvalidFrame/Sample/00_Dummy-Data/Dummy-Data_0000013.map
  hyperspy/tests/io/JEOL_files/InvalidFrame/Sample/00_Dummy-Data/Dummy-Data_0000014.map
  hyperspy/tests/io/JEOL_files/InvalidFrame/Sample/00_Dummy-Data/Dummy-Data_0000015.pts
  hyperspy/tests/io/JEOL_files/InvalidFrame/Sample/00_Dummy-Data/Dummy-Data_0000016.apb
  hyperspy/tests/io/JEOL_files/InvalidFrame/Sample/00_Dummy-Data/Dummy-Data_0000017.map
  hyperspy/tests/io/JEOL_files/InvalidFrame/Sample/00_Dummy-Data/Dummy-Data_0000018.map
  hyperspy/tests/io/JEOL_files/InvalidFrame/Sample/00_Dummy-Data/Dummy-Data_0000019.map
  hyperspy/tests/io/JEOL_files/InvalidFrame/Sample/00_Dummy-Data/Dummy-Data_0000020.map
  hyperspy/tests/io/JEOL_files/InvalidFrame/Sample/00_Dummy-Data/Dummy-Data_0000021.map
  hyperspy/tests/io/JEOL_files/InvalidFrame/Sample/00_Dummy-Data/Dummy-Data_0000022.map
  hyperspy/tests/io/JEOL_files/InvalidFrame/Sample/00_Dummy-Data/Dummy-Data_0000023.pts
  hyperspy/tests/io/JEOL_files/InvalidFrame/Sample/00_Dummy-Data/Dummy-Data_0000024.APB
  hyperspy/tests/io/JEOL_files/InvalidFrame/dummy2.ASW
  hyperspy/tests/io/JEOL_files/InvalidFrame/readme.txt
  hyperspy/tests/io/test_jeol.py
  upcoming_changes/2846.new.rst
Labels: type: enhancement, type: new feature

#2861 Specify scikit-image version in oldest supported version CI build
  .github/workflows/tests.yml
Labels: status: needs review, release: next patch, affects: tests

#2862 Add support for JEOL sightX-tiff
  hyperspy/io_plugins/tiff.py
  hyperspy/tests/io/test_tiff.py
  hyperspy/tests/io/tiff_files/JEOL-SightX-Ronchigram-dummy.tif.gz
  hyperspy/tests/io/tiff_files/JEOL-SightX-SAED-dummy.tif.gz
  hyperspy/tests/io/tiff_files/JEOL-SightX-TEM-mag-dummy.tif.gz
  upcoming_changes/2862.enhancements.rst
Labels: type: enhancement, status: waiting for author
