Repository hyperspy/hyperspy, pull requests merged in 2021-09, with the labels that each got.

#2820 Skip test failing with scipy 1.8.0.dev
  .github/workflows/tests.yml
  hyperspy/_components/error_function.py
  hyperspy/_components/skew_normal.py
  hyperspy/_components/voigt.py
  hyperspy/_signals/lazy.py
  hyperspy/component.py
  hyperspy/drawing/image.py
  hyperspy/drawing/utils.py
  hyperspy/external/progressbar.py
  hyperspy/io_plugins/hspy.py
  hyperspy/io_plugins/mrcz.py
  hyperspy/io_plugins/tiff.py
  hyperspy/learn/svd_pca.py
  hyperspy/misc/ipython_tools.py
  hyperspy/model.py
  hyperspy/tests/component/test_erf.py
  hyperspy/tests/component/test_skewnormal.py
  hyperspy/tests/drawing/test_mpl_testing_setup.py
  hyperspy/tests/io/test_tiff.py
  hyperspy/tests/learn/test_svd_pca.py
  hyperspy/tests/model/test_fitting.py
  setup.py
Labels: status: needs review, affects: tests

#2773 _assign_subclass: signal_shape (1,) now becomes BaseSignal
  hyperspy/axes.py
  hyperspy/misc/signal_tools.py
  hyperspy/signal.py
  hyperspy/tests/drawing/test_plot_signal.py
  hyperspy/tests/model/test_model.py
  hyperspy/tests/signals/test_2D.py
  hyperspy/tests/signals/test_3D.py
  hyperspy/tests/signals/test_assign_subclass.py
  upcoming_changes/2773.bugfix.rst
Labels: status: needs review, type: bug-fix, release: next patch

#2824 Run extension test suite from PR
  .github/workflows/tests_extension.yml
  doc/dev_guide/testing.rst
  doc/dev_guide/writing_extensions.rst
  upcoming_changes/2824.enhancements.rst
Labels: type: enhancement, status: needs review, affects: tests, run-extension-tests

#2826 Update docs on installing hyperspy dev version
  doc/user_guide/install.rst
Labels: type: enhancement, affects: documentation, status: waiting for author, release: next patch
