Repository hyperspy/hyperspy, pull requests merged in 2021-06, with the labels that each got.

#2725 Enhancement of NeXus file IO
  doc/user_guide/io.rst
  hyperspy/io_plugins/nexus.py
  hyperspy/tests/io/nexus_files/nexus_test_datakey.nxs
  hyperspy/tests/io/test_nexus_hdf.py
  upcoming_changes/2725.enhancements.rst
Labels: release: next minor, status: waiting for author, type: enhancement

#2759 Use mamba and conda-forge channel on azure pipeline
  azure-pipelines.yml
  conda_environment.yml
  conda_environment_dev.yml
  doc/dev_guide/testing.rst
  upcoming_changes/2759.maintenance.rst
Labels: affects: tests

#2760 Fix error message when reading hspy compressed using blosc
  hyperspy/io_plugins/hspy.py
  upcoming_changes/2760.bugfix.rst
Labels: type: bug-fix

#2757 Read scanning size for recent empad dataset
  hyperspy/io_plugins/empad.py
  hyperspy/tests/io/empad_data/map128x128_version1.2.0.xml
  hyperspy/tests/io/test_empad.py
  upcoming_changes/2757.enhancements.rst
Labels: status: needs review, type: enhancement

#2758 Generate changelog when building doc
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGES.rst
  doc/conf.py
  doc/index.rst
  doc/user_guide/changes.rst
  releasing_guide.md
  setup.py
  upcoming_changes/2709.enhancements.rst
  upcoming_changes/2711.enhancements.rst
  upcoming_changes/2713.maintenance.rst
  upcoming_changes/2714.maintenance.rst
  upcoming_changes/2717.maintenance.rst
  upcoming_changes/2720.bugfix.rst
  upcoming_changes/2722.maintenance.rst
  upcoming_changes/2724.enhancements.rst
  upcoming_changes/2729.bugfix.rst
  upcoming_changes/2734.bugfix.rst
  upcoming_changes/2748.bugfix.rst
  upcoming_changes/2750.enhancements.rst
  upcoming_changes/2758.maintenance.rst
Labels: affects: documentation, type: enhancement

#2761 non-uniform updates (NotImplementedErrors, tests, spelling, saving-fix)
  hyperspy/_signals/signal1d.py
  hyperspy/component.py
  hyperspy/datasets/artificial_data.py
  hyperspy/io.py
  hyperspy/io_plugins/README
  hyperspy/io_plugins/emd.py
  hyperspy/io_plugins/hspy.py
  hyperspy/io_plugins/jeol.py
  hyperspy/models/model1d.py
  hyperspy/signal_tools.py
  hyperspy/tests/io/test_io.py
  hyperspy/tests/io/test_ripple.py
  hyperspy/tests/signals/test_1D_tools.py
  hyperspy/tests/test_non-uniform_not-implemented.py
Labels: non-uniform axis, status: needs review

#2763 Fix saving navigator
  hyperspy/_signals/lazy.py
  hyperspy/tests/drawing/test_plot_lazy.py
  upcoming_changes/2763.bugfix.rst
Labels: type: bug-fix

#2764 Add `dtype` to rebin
  .github/workflows/tests.yml
  doc/user_guide/signal.rst
  hyperspy/_signals/eds.py
  hyperspy/_signals/eels.py
  hyperspy/_signals/lazy.py
  hyperspy/docstrings/utils.py
  hyperspy/misc/array_tools.py
  hyperspy/signal.py
  hyperspy/tests/signals/test_3D.py
  upcoming_changes/2764.enhancements.rst
Labels: release: next minor, status: needs review, type: enhancement

#2762 Fix warning when build doc and formatting user guide
  CHANGES.rst
  doc/conf.py
  doc/user_guide/eds.rst
  doc/user_guide/eels.rst
  doc/user_guide/electron_holography.rst
  doc/user_guide/io.rst
  doc/user_guide/signal.rst
  doc/user_guide/visualisation.rst
  hyperspy/_components/gaussian2d.py
  hyperspy/_signals/common_signal1d.py
  hyperspy/_signals/common_signal2d.py
  hyperspy/_signals/complex_signal.py
  hyperspy/_signals/complex_signal1d.py
  hyperspy/_signals/complex_signal2d.py
  hyperspy/_signals/dielectric_function.py
  hyperspy/_signals/eds.py
  hyperspy/_signals/eds_sem.py
  hyperspy/_signals/eds_tem.py
  hyperspy/_signals/eels.py
  hyperspy/io_plugins/unbcf_fast.pyx
  hyperspy/misc/utils.py
  hyperspy/tests/drawing/test_plot_signal.py
  hyperspy/tests/signals/test_complex_signal.py
  upcoming_changes/1412.new.rst
  upcoming_changes/2183.new.rst
  upcoming_changes/2341.enhancements.rst
  upcoming_changes/2386.new.rst
  upcoming_changes/2488.new.rst
  upcoming_changes/2599.new.rst
  upcoming_changes/2652.api.rst
  upcoming_changes/2688.new.rst
  upcoming_changes/2722.maintenance.rst
  upcoming_changes/2725.enhancements.rst
  upcoming_changes/2760.bugfix.rst
  upcoming_changes/2762.maintenance.rst
  upcoming_changes/README.rst
Labels: affects: documentation, status: needs review, type: enhancement

#2768 Release 1.6.3
  .github/workflows/release.yml
  CHANGES.rst
  hyperspy/Release.py
  upcoming_changes/2709.enhancements.rst
  upcoming_changes/2711.enhancements.rst
  upcoming_changes/2713.maintenance.rst
  upcoming_changes/2714.maintenance.rst
  upcoming_changes/2717.maintenance.rst
  upcoming_changes/2720.bugfix.rst
  upcoming_changes/2722.maintenance.rst
  upcoming_changes/2724.enhancements.rst
  upcoming_changes/2729.bugfix.rst
  upcoming_changes/2734.bugfix.rst
  upcoming_changes/2748.bugfix.rst
  upcoming_changes/2750.enhancements.rst
  upcoming_changes/2757.enhancements.rst
  upcoming_changes/2758.maintenance.rst
  upcoming_changes/2759.maintenance.rst
  upcoming_changes/2760.bugfix.rst
  upcoming_changes/2763.bugfix.rst
Labels: status: needs review

#2770 Minor typo and style fixes to the user guide install instructions
  doc/user_guide/install.rst
Labels: release: next patch, type: typo

#2778 DOC: minor style and typo fixes in user guide IO-page
  doc/user_guide/io.rst
Labels: affects: documentation, release: next patch, status: needs review

#2772 Fix parsing EELS aperture label with unexpected value
  hyperspy/io_plugins/digital_micrograph.py
  hyperspy/tests/io/test_dm3.py
  upcoming_changes/2772.bugfix.rst
Labels: release: next patch, status: needs review, type: bug-fix

#2777 Fix blo writing for lazy datasets + other improvements
  doc/user_guide/io.rst
  hyperspy/io_plugins/blockfile.py
  hyperspy/tests/io/test_blockfile.py
  upcoming_changes/2774.bugfix.rst
  upcoming_changes/2774.enhancements.rst
Labels: release: next patch, status: waiting for author, type: bug-fix, type: enhancement

#2786 Fix image comparison following numpy 1.21.0 release
  hyperspy/tests/drawing/plot_signal2d/test_plot_log_negative_value_None.png
  hyperspy/tests/drawing/plot_signal2d/test_plot_log_negative_value_gray.png
  hyperspy/tests/drawing/test_plot_signal2d.py
  upcoming_changes/2774.maintenance.rst
  upcoming_changes/README.rst
Labels: affects: tests, release: next patch, status: needs review

#2767 Fix `add_widget` for undefined roi
  hyperspy/drawing/_widgets/line2d.py
  hyperspy/roi.py
  hyperspy/tests/utils/test_roi.py
Labels: type: enhancement
