Repository hyperspy/hyperspy, pull requests merged in 2022-01, with the labels that each got.

#2703 Improve non-lazy map method
  doc/user_guide/signal.rst
  hyperspy/_signals/lazy.py
  hyperspy/_signals/signal1d.py
  hyperspy/docstrings/signal.py
  hyperspy/misc/utils.py
  hyperspy/signal.py
  hyperspy/tests/signals/test_map_method.py
  upcoming_changes/2703.enhancements.rst
Labels: type: enhancement, status: WIP, release: next minor, run-extension-tests

#2866 CI fixes and improvements
  .github/workflows/tests.yml
  azure-pipelines.yml
  conda_environment.yml
  conda_environment_dev.yml
  hyperspy/misc/array_tools.py
  hyperspy/tests/io/test_jeol.py
  hyperspy/tests/learn/test_bss.py
  hyperspy/tests/misc/test_hist_tools.py
  hyperspy/tests/signals/test_3D.py
  setup.py
  upcoming_changes/2866.maintenance.rst
Labels: status: needs review, type: bug-fix, affects: tests

#2855 Lazy html representation
  conda_environment.yml
  doc/dev_guide/lazy_computations.rst
  doc/dev_guide/useful_information.rst
  doc/user_guide/big_data.rst
  doc/user_guide/images/chunks.png
  hyperspy/__init__.py
  hyperspy/_signals/lazy.py
  hyperspy/misc/dask_widgets/lazy_signal.html.j2
  hyperspy/signal.py
  hyperspy/tests/signals/test_lazy.py
  hyperspy/tests/signals/test_map_method.py
  setup.py
  upcoming_changes/2855.new.rst
Labels: type: enhancement, status: WIP, release: next minor
