Repository hyperspy/hyperspy, pull requests merged in 2022-03, with the labels that each got.

#2897 Update docstrings concerning area parameters
  hyperspy/_components/gaussian.py
  hyperspy/_components/gaussian2d.py
  hyperspy/_components/gaussianhf.py
  hyperspy/_components/lorentzian.py
Labels: status: needs review

#2901 fix min zarr version
  setup.py
Labels: status: needs review, type: bug-fix

#2878 Map function larger iter arrays
  hyperspy/misc/utils.py
  hyperspy/signal.py
  hyperspy/tests/signals/test_map_method.py
  setup.py
  upcoming_changes/2878.bugfix.rst
Labels: type: enhancement, status: waiting for author, release: next minor

#2902 Fix test suite hanging
  .github/workflows/tests.yml
  setup.py
Labels: status: needs review, affects: tests

#2894 Update CL metadata in dm-reader
  hyperspy/io_plugins/digital_micrograph.py
  hyperspy/tests/io/dm4_1D_data/test-MonarcCL_spectrum-ccd.dm4
  hyperspy/tests/io/dm4_1D_data/test-MonarcCL_spectrum-pmt.dm4
  hyperspy/tests/io/dm4_1D_data/test-MonoCL_spectrum-ccd.dm4
  hyperspy/tests/io/dm4_1D_data/test-MonoCL_spectrum-pmt.dm4
  hyperspy/tests/io/dm4_2D_data/test-MonarcCL_mono-image.dm4
  hyperspy/tests/io/dm4_2D_data/test-MonarcCL_spectrum-SI.dm4
  hyperspy/tests/io/dm4_2D_data/test-MonoCL_spectrum-SI.dm4
  hyperspy/tests/io/test_dm3.py
  upcoming_changes/2590.enhancements.rst
Labels: type: enhancement, status: needs review, release: next minor, affects: tests

#2905 fix code example in signal.rst
  doc/user_guide/signal.rst
Labels: status: needs review

#2871 Enhancement of markers
  doc/user_guide/visualisation.rst
  hyperspy/drawing/_markers/arrow.py
  hyperspy/drawing/_markers/ellipse.py
  hyperspy/drawing/_markers/horizontal_line.py
  hyperspy/drawing/_markers/horizontal_line_segment.py
  hyperspy/drawing/_markers/point.py
  hyperspy/drawing/_markers/rectangle.py
  hyperspy/drawing/_markers/text.py
  hyperspy/drawing/_markers/vertical_line.py
  hyperspy/drawing/_markers/vertical_line_segment.py
  hyperspy/drawing/marker.py
  hyperspy/tests/drawing/plot_markers/test_plot_markers_zorder.png
  hyperspy/tests/drawing/plot_markers/test_plot_rectange_markers.png
  hyperspy/tests/drawing/plot_markers/test_plot_rectangle_markers.png
  hyperspy/tests/drawing/test_plot_markers.py
  hyperspy/tests/test_import.py
  hyperspy/utils/markers.py
  upcoming_changes/2871.enhancements.rst
Labels: type: enhancement, status: needs review, release: next minor

#2781 Add .tvips file reader plug-in
  doc/user_guide/io.rst
  hyperspy/io_plugins/__init__.py
  hyperspy/io_plugins/tvips.py
  hyperspy/tests/io/test_tvips.py
  hyperspy/tests/io/tvips_files/test_tvips_2233_000.tvips
  hyperspy/tests/io/tvips_files/test_tvips_2345_000.tvips
  hyperspy/tests/io/tvips_files/test_tvips_2345_split_000.tvips
  hyperspy/tests/io/tvips_files/test_tvips_2345_split_001.tvips
  hyperspy/tests/io/tvips_files/test_tvips_2345_split_002.tvips
  upcoming_changes/2780.new.rst
Labels: status: needs review, type: new feature

#2910 FIX-ENH update cutoff_at_kV behavior for bruker.py reader
  doc/user_guide/io.rst
  hyperspy/io.py
  hyperspy/io_plugins/bruker.py
  hyperspy/tests/io/test_bruker.py
  upcoming_changes/2898.bugfix.rst
  upcoming_changes/2910.api.rst
Labels: type: enhancement, type: bug-fix

#2422 Linear fitting
  doc/user_guide/big_data.rst
  doc/user_guide/model.rst
  hyperspy/_components/bleasdale.py
  hyperspy/_components/eels_cl_edge.py
  hyperspy/_components/eels_double_power_law.py
  hyperspy/_components/expression.py
  hyperspy/_components/lorentzian.py
  hyperspy/_components/offset.py
  hyperspy/_components/pes_see.py
  hyperspy/_components/power_law.py
  hyperspy/_components/scalable_fixed_pattern.py
  hyperspy/_components/voigt.py
  hyperspy/_components/volume_plasmon_drude.py
  hyperspy/component.py
  hyperspy/misc/model_tools.py
  hyperspy/model.py
  hyperspy/models/edsmodel.py
  hyperspy/models/eelsmodel.py
  hyperspy/models/model1d.py
  hyperspy/models/model2d.py
  hyperspy/tests/component/test_component.py
  hyperspy/tests/component/test_component_print_current.py
  hyperspy/tests/component/test_component_set_parameters.py
  hyperspy/tests/component/test_components.py
  hyperspy/tests/component/test_exponential.py
  hyperspy/tests/component/test_expression.py
  hyperspy/tests/component/test_powerlaw.py
  hyperspy/tests/drawing/test_plot_model.py
  hyperspy/tests/model/test_constant.py
  hyperspy/tests/model/test_eelsmodel.py
  hyperspy/tests/model/test_fit_component.py
  hyperspy/tests/model/test_fitting.py
  hyperspy/tests/model/test_linear_model.py
  hyperspy/tests/model/test_linearity.py
  hyperspy/tests/model/test_model2d.py
  hyperspy/tests/model/test_model_storing.py
  hyperspy/tests/model/test_parameter.py
  hyperspy/tests/model/test_set_parameter_state.py
  upcoming_changes/2422.new.rst
Labels: affects: documentation, status: needs review, type: new feature, release: next minor, affects: tests

#2914 Add python 3.10 and fix some tests
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .github/workflows/tests_extension.yml
  hyperspy/tests/io/test_hdf5.py
  hyperspy/tests/model/test_linear_model.py
  setup.py
  upcoming_changes/2914.maintenance.rst
Labels: affects: tests

#2913 Deprecate setting `metadata` and `original_metadata` attributes
  hyperspy/_signals/complex_signal.py
  hyperspy/_signals/eds_sem.py
  hyperspy/_signals/eds_tem.py
  hyperspy/io.py
  hyperspy/io_plugins/nexus.py
  hyperspy/misc/date_time_tools.py
  hyperspy/misc/eels/eelsdb.py
  hyperspy/misc/utils.py
  hyperspy/samfire.py
  hyperspy/signal.py
  hyperspy/tests/io/test_nexus_hdf.py
  hyperspy/tests/io/test_tvips.py
  hyperspy/tests/misc/test_date_time_tools.py
  hyperspy/tests/samfire/test_samfire.py
  hyperspy/tests/utils/test_stack.py
  upcoming_changes/2913.api.rst
Labels: type: bug, run-extension-tests
