Repository hyperspy/hyperspy, pull requests merged in 2023-10, with the labels that each got.

#3235 Remove `physics_tools` module
  hyperspy/misc/physics_tools.py
  hyperspy/tests/misc/test_physics_tools.py
  upcoming_changes/3235.api.rst
Labels: status: needs review, type: API change, type: maintenance

#3237 Fix keeping dtype in rebin when original dtype specify endianess
  hyperspy/misc/array_tools.py
  hyperspy/tests/signals/test_3D.py
  upcoming_changes/3237.bugfix.rst
Labels: type: bug-fix

#3234 Fix bug with plot close/open cycle and permanent markers
  hyperspy/drawing/markers.py
  hyperspy/signal.py
  hyperspy/tests/drawing/test_markers.py
Labels: status: needs review

#3238 Rename `Signal` and `Model` `__call__` methods and remove `Component.__call__` method.
  exspy/exspy/models/eelsmodel.py
  exspy/exspy/signals/eels.py
  exspy/exspy/test/models/test_eelsmodel.py
  hyperspy/_components/gaussian.py
  hyperspy/_components/lorentzian.py
  hyperspy/_components/offset.py
  hyperspy/_components/polynomial.py
  hyperspy/_components/skew_normal.py
  hyperspy/_signals/complex_signal.py
  hyperspy/_signals/signal1d.py
  hyperspy/_signals/signal2d.py
  hyperspy/component.py
  hyperspy/drawing/markers.py
  hyperspy/model.py
  hyperspy/models/model1d.py
  hyperspy/models/model2d.py
  hyperspy/signal.py
  hyperspy/signal_tools.py
  hyperspy/tests/component/test_component.py
  hyperspy/tests/model/test_chi_squared.py
  hyperspy/tests/model/test_fit_component.py
  hyperspy/tests/model/test_linear_model.py
  hyperspy/tests/model/test_model.py
  hyperspy/tests/model/test_model2d.py
  hyperspy/tests/signals/test_2D_tools.py
  hyperspy/tests/signals/test_binned.py
  hyperspy/tests/signals/test_cuda.py
  hyperspy/tests/signals/test_lazy.py
  upcoming_changes/3238.api
Labels: type: API change
