Repository hyperspy/hyperspy, pull requests merged in 2023-07, with the labels that each got.

#3189 Fix Numpy1.25 deprecation
  hyperspy/_signals/signal2d.py
  hyperspy/tests/drawing/plot_mva/test_plot_cluster_metric.png
  hyperspy/tests/drawing/test_plot_mva.py
  upcoming_changes/3189.maintenance.rst
Labels: type: maintenance

#3145 Make IPython and IParallel optional
  CHANGES.rst
  conda_environment.yml
  doc/conf.py
  doc/user_guide/model/fitting_model.rst
  doc/user_guide/model/model_parameters.rst
  hyperspy/_signals/eels.py
  hyperspy/component.py
  hyperspy/misc/ipython_tools.py
  hyperspy/misc/model_tools.py
  hyperspy/misc/utils.py
  hyperspy/model.py
  hyperspy/tests/component/test_component_print_current.py
  hyperspy/tests/misc/test_utils.py
  hyperspy/tests/signals/test_eels.py
  hyperspy/tests/utils/test_parallel_pool.py
  hyperspy/tests/utils/test_print_known_signal_types.py
  hyperspy/utils/__init__.py
  hyperspy/utils/parallel_pool.py
  setup.py
  upcoming_changes/3145.api.rst
  upcoming_changes/3145.maintenance.rst
Labels: type: enhancement, type: bug-fix

#3166 Change rechunk function parameter from default True, to default False
  doc/user_guide/big_data.rst
  hyperspy/_signals/eds.py
  hyperspy/_signals/lazy.py
  hyperspy/docstrings/signal.py
  hyperspy/signal.py
  hyperspy/tests/signals/test_lazy_tools.py
  upcoming_changes/3166.api.rst
Labels: status: needs review, type: API change, release: next major

#3195 missing user guide label
  doc/user_guide/basic_usage.rst
Labels: affects: documentation, status: needs review
