Repository hyperspy/hyperspy, pull requests merged in 2024-02, with the labels that each got.

#3304 Fix bug with side by side plotting of signal containing navigation dimension only
  hyperspy/drawing/mpl_he.py
  hyperspy/tests/drawing/test_horizontal_plotting.py
  upcoming_changes/3304.bugfix.rst
Labels: type: bug-fix

#3305 Run test suite on osx arm64 on GitHub CI
  .github/workflows/tests.yml
  upcoming_changes/3305.maintenance.rst
Labels: status: needs review, type: maintenance

#3306 Fix API changes in scipy and scikit-image
  hyperspy/_signals/complex_signal.py
  hyperspy/signal.py
  hyperspy/tests/signals/test_apodization.py
  upcoming_changes/3306.maintenance.rst
Labels: status: needs review, type: maintenance

#3199 N d navigator
  hyperspy/_signals/lazy.py
  hyperspy/signal.py
  hyperspy/tests/drawing/test_plot_lazy.py
  hyperspy/tests/drawing/test_plot_signal2d.py
  upcoming_changes/3199.enhancements.rst
Labels: status: needs review

#3319 Fix position `Texts` marker when using mathtext
  hyperspy/external/matplotlib/collections.py
  hyperspy/tests/drawing/markers/test_position_texts_with_mathtext.png
  hyperspy/tests/drawing/test_markers.py
  upcoming_changes/3319.bugfix.rst
Labels: type: bug-fix

#3318 Fix getting release on some linux system wide install
  hyperspy/__init__.py
  prepare_release.py
  pyproject.toml
  releasing_guide.md
  upcoming_changes/3318.bugfix.rst
Labels: type: bug-fix

#3322 Add Google Analytics ID to documentation
  doc/conf.py
  upcoming_changes/3322.maintenance.rst
Labels: type: maintenance

#3321 Documentation release workflow
  .github/workflows/doc.yml
  doc/dev_guide/writing_docs.rst
  hyperspy/drawing/utils.py
  releasing_guide.md
  upcoming_changes/3321.maintenance.rst
Labels: type: maintenance
