Repository hyperspy/hyperspy, pull requests merged in 2024-10, with the labels that each got.

#3423 Add parameters to specify matplotlib axes in `hs.plot.plot_*`
  doc/conf.py
  examples/data_visualization/README.rst
  examples/data_visualization/compose_figure.py
  examples/data_visualization/specifying_ax.py
  hyperspy/drawing/utils.py
  hyperspy/learn/rpca.py
  hyperspy/tests/drawing/plot_signal1d/test_plot_spectra_ax.png
  hyperspy/tests/drawing/plot_signal1d/test_plot_spectra_cascade.png
  hyperspy/tests/drawing/plot_signal1d/test_plot_spectra_default.png
  hyperspy/tests/drawing/plot_signal1d/test_plot_spectra_mosaic.png
  hyperspy/tests/drawing/plot_signal1d/test_plot_spectra_overlap.png
  hyperspy/tests/drawing/plot_signal1d/test_plot_spectra_rev_cascade.png
  hyperspy/tests/drawing/plot_signal1d/test_plot_spectra_rev_default.png
  hyperspy/tests/drawing/plot_signal1d/test_plot_spectra_rev_mosaic.png
  hyperspy/tests/drawing/plot_signal1d/test_plot_spectra_rev_overlap.png
  hyperspy/tests/drawing/plot_signal2d/test_plot_image_ax.png
  hyperspy/tests/drawing/plot_signal2d/test_plot_images_cmap_list.png
  hyperspy/tests/drawing/plot_signal2d/test_plot_images_cmap_list_w_diverging.png
  hyperspy/tests/drawing/plot_signal2d/test_plot_images_cmap_make_cmap_bitfalse.png
  hyperspy/tests/drawing/plot_signal2d/test_plot_images_cmap_make_cmap_bittrue.png
  hyperspy/tests/drawing/plot_signal2d/test_plot_images_cmap_mpl_colors.png
  hyperspy/tests/drawing/plot_signal2d/test_plot_images_cmap_one_string.png
  hyperspy/tests/drawing/plot_signal2d/test_plot_images_default.png
  hyperspy/tests/drawing/plot_signal2d/test_plot_images_single_image_stack.png
  hyperspy/tests/drawing/test_plot_signal1d.py
  hyperspy/tests/drawing/test_plot_signal2d.py
  upcoming_changes/3423.enhancements.rst
Labels: type: enhancement, status: needs review

#3449 Add support for extension with src layout
  hyperspy/extensions.py
  upcoming_changes/3449.bugfix.rst
Labels: type: bug-fix, run-extension-tests

#3302 Allow hiding signals provided by extensions
  doc/dev_guide/writing_extensions.rst
  hyperspy/utils/__init__.py
  upcoming_changes/3302.enhancements.rst
Labels: type: enhancement, status: needs review, run-extension-tests
