Repository hyperspy/hyperspy, pull requests merged in 2024-07, with the labels that each got.

#3385 Add support for `"sig"` and `"nav"` to index `axes_manager`
  hyperspy/axes.py
  hyperspy/docstrings/signal.py
  hyperspy/roi.py
  hyperspy/signal.py
  hyperspy/tests/axes/test_axes_manager.py
  hyperspy/tests/signals/test_1D.py
  hyperspy/tests/signals/test_2D.py
  hyperspy/tests/signals/test_tools.py
  hyperspy/tests/utils/test_roi.py
  upcoming_changes/3385.api.rst
  upcoming_changes/3385.enhancements.rst
Labels: type: enhancement, status: needs review

#3397 Add old version warning banner in documentation
  .github/workflows/tests.yml
  doc/_static/switcher.json
  doc/conf.py
  doc/intro.rst
  doc/user_guide/signal/indexing.rst
  upcoming_changes/3397.doc.rst
Labels: type: enhancement, affects: documentation

#3386 Support numpy 2.0
  .github/workflows/tests.yml
  hyperspy/_signals/lazy.py
  hyperspy/_signals/signal2d.py
  hyperspy/data/artificial_data.py
  hyperspy/decorators.py
  hyperspy/drawing/_widgets/line2d.py
  hyperspy/drawing/utils.py
  hyperspy/roi.py
  hyperspy/signal.py
  hyperspy/signal_tools.py
  hyperspy/tests/drawing/test_plot_signal1d.py
  hyperspy/tests/signals/test_signal_operators.py
  hyperspy/tests/test_decorators.py
  upcoming_changes/3386.maintenance.rst
Labels: status: needs review, type: maintenance

#2756 Add ``set()`` and ``get`` methods to ``AxesManager``'s ``signal_axes`` and ``navigation_axes``
  doc/reference/utils/index.rst
  doc/user_guide/axes.rst
  hyperspy/axes.py
  hyperspy/misc/utils.py
  hyperspy/tests/axes/test_axes_manager.py
  hyperspy/tests/misc/test_utils.py
  upcoming_changes/2756.enhancements.rst
Labels: type: enhancement, status: needs review, release: next minor

#3407 Allow rebinning uniform axis of signal containing non-uniform axis
  hyperspy/signal.py
  hyperspy/tests/test_io.py
  hyperspy/tests/test_non-uniform_not-implemented.py
  upcoming_changes/3407.bugfix.rst
Labels: type: bug-fix
